{% extends 'blog_app/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container" >
    
    
        

    <h1 class="text-center text-light" > Update Profile </h1>

    {% if errors %}
        <h3 class="text-danger text-center" > {{ errors }} </h3>
        
    {% endif %}
    
    <div class="form-group"  >
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            
            
            <button class="btn btn-outline-info" type="submit">Update</button>
            
        </form>
    </div>

</div>


{% endblock content %}